<%- include("partials/header"); -%>
<div class="login-container">
  <div class="div-login-container">
    <div class="sign-up-div">
      <h1 class="sign-up-h1">Sign up</h1>
      <input
        type="text"
        class="sign-up-input"
        name="fullname"
        placeholder="Full Name"
      />

      <input
        type="text"
        class="sign-up-input"
        name="email"
        placeholder="Email"
      />

      <input
        type="password"
        class="sign-up-input"
        name="password"
        placeholder="Password"
      />

      <button type="submit" class="sign-up-button">Create Account</button>

      <div class="footer-text">
        By signing up, you agree to the
        <a class="footer-anchor" href="#"> Terms of Service </a>
        and
        <a class="footer-anchor" href="#"> Privacy Policy </a>
      </div>
    </div>

    <div class="footer-anchor-text-1">
      Already have an account?
      <a class="footer-anchor-text-2" href="/users/login/"> Log in </a>.
    </div>
  </div>
</div>
<%- include("partials/footer"); -%>
